html{
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Fira Sans', sans-serif;
}

br {display: block;}

body {
    margin: unset;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    scrollbar-color: dark;
}    

.main-navigation {
    background-color: rgb(0, 0, 0);
    height: 64px;
    text-align: right;
}
.main-navigation img {
    position: absolute;
    top: -2px;
    left: 8px;
    width: 70px;
    height: 70px;
    margin: 0px 100px 0px 0px;
}
.main-navigation button{
    position: relative;
    color: rgb(120, 120, 120);
    background-color: transparent;
    border: none;
    border-radius: 30px;
    height: 35px;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 15px 5px 0px 5px;
    cursor: pointer; 
}
.main-navigation button:hover{
    color: rgba(255, 255, 255);
}
.main-navigation button::after{
    position: absolute;
	content: "";
	width: 0%;
	height: 3px;
	background-color: rgb(255, 255, 255);
	left: 15px;
	bottom: 4px;
	transition: all 0.4s ease-in-out;
}
.main-navigation button:hover::after{
	width: calc(100% - (15 * 2px));
	left: 15px;
}
#gallery-btn:hover::after, #our-project-btn:hover::after{
    width: calc(100% - (40px));
}
.main-navigation input{
    width: 170px;
    height: 30px;
    margin: 0px 15px 0px 10px;
    padding: 0px 12px;
    border: 0px;
    outline: none;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.main-navigation input:focus{
    outline: 2px solid rgb(90, 141, 199);
}
.loadingDock {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    background: rgb(32, 32, 32);
    color: white;
    z-index: 100;
    transition: 0.3s ease-out;
}

.hide {
    opacity: 0.0;
}