/*kalo gaada iconnya artinya gaada internet*/
html{
    /* background-image: url(../img/Gojo-Satoru.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
}
body {
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    scrollbar-color: dark;
}    

.main-navigation {
    background-color: rgb(0, 0, 0);
    height: 65px;
    text-align: right;
}

.main-navigation img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65px;
    height: 65px;
    margin: 0px 100px 0px 0px;
}
.main-navigation button{
    position: relative;
    color: rgb(120, 120, 120);
    background-color: transparent;
    border: none;
    border-radius: 30px;
    height: 35px;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 15px 5px 0px 5px;
    cursor: pointer; 
}
/* #home-btn{
    margin-left: 75px;  in case wanna place navbar into left pos
} */
.main-navigation button:hover {
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
}
.main-navigation button::after{
    position: absolute;
	content: "";
	width: 0%;
	height: 3px;
	background-color: rgb(0, 0, 0);
	left: 15px;
	bottom: 6px;
	transition: all 0.5s ease-in-out;
}
.main-navigation button:hover::after{
	width: calc(100% - (15 * 2px));
	left: 15px;
}
#gallery-btn:hover::after, #our-project-btn:hover::after{
    width: calc(100% - (40px));
}
.main-navigation input{
    width: 170px;
    height: 30px;
    margin: 0px 15px 0px 10px;
    padding: 0px 12px;
    border: 0px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.main-navigation input:focus{
    outline: none;
}
.main-content{
    height: 900px;
    margin: auto;
    background-color: aqua;
}
.slide-image{
    background-color: aqua;
    width: 100%;
    height: 100%;
}
#content-img-1{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}
.arrow-left-btn, .arrow-right-btn{
    background-color: transparent;
    position: absolute;
    border: 0px;
    top: 65px;
    width: 5%;
    height: 100%;
    font-size: 40px;
}
.arrow-left-btn:hover, .arrow-right-btn:hover{
    background-color: rgba(137, 137, 137, 0.427);
}
.arrow-right-btn{
    padding-right: 10px;
    right: 0;
}
.arrow-left-btn{
    padding-left: 10px;
}
.footer-content{
    height: 75px;
    width: 100%;
    background-color: rgb(23, 23, 23);
    text-align: center;
}
.footer-content a{
    color: rgb(120, 120, 120);
    text-decoration: none;
    font-size: 20px;
    margin: 25px 30px 0px 0px;
}

.imageSlideShow img {
    position: relative;
    width: 128px;
    padding-top: 0%;
}
